/biblioteka-klijent/target/
/biblioteka-klijent/.project
/biblioteka-klijent/.classpath
/biblioteka-klijent/.settings/
/biblioteka-server/target/
/biblioteka-server/.project
/biblioteka-server/.classpath
/biblioteka-server/.settings/
/biblioteka-zajednicki/target/
/biblioteka-zajednicki/.project
/biblioteka-zajednicki/.classpath
/biblioteka-zajednicki/.settings/